<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trippr: Trip's Expense Log</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand display-4" href="/dashboard">Trippr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/trips/new" tabindex="-1" aria-disabled="true">Start a New Trip</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/dashboard/trips" tabindex="-1" aria-disabled="true">Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/friends" tabindex="-1" aria-disabled="true">Friends</a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0" method="POST" action="/logout" >
            <p class="greet">Welcome, {{ curr_user.first_name|title }}!</p>
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Log Out</button>
        </form>
    </nav>

    <div class="container">
        <a href="/dashboard/trips/{{ curr_trip.id }}"><< Back to Trip</a>
        <div class="row">
            <div class="col-12">
                <h4 class="display-4">{{ curr_trip.city }}, {{ curr_trip.country }}</h4>
                <p>{{ curr_trip.start_date|date:'M d, Y' }} - {{ curr_trip.end_date|date:'M d, Y' }}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <h5>Expense Log</h5>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Amount</th>
                            <th>Paid By</th>
                            <th>Notes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if curr_trip.trip_expenses %}
                        {% for expense in curr_trip.trip_expenses.all %}
                        <tr>
                            <td>${{ expense.amount }}</td>
                            <td>{{ expense.paid_by.first_name|title }} {{ expense.paid_by.last_name|title }}</td>
                            <td>{{ expense.notes }}</td>
                            <td><a href="/dashboard/trips/{{ curr_trip.id }}/expense/{{ expense.id }}">Edit</a>
                                <a href="/dashboard/trips/{{ curr_trip.id }}/expense/{{ expense.id }}/remove">Delete</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <h5>Edit Expense #{{ curr_expense.id }}</h5>
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="number" class="form-control" name="amount" id="amount" value="{{ curr_expense.amount }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="paid_by">Paid By</label>
                            <select id="paid_by" name="paid_by" size="1" class="form-control">
                                {% for participant in curr_trip.users_joined.all %}
                                {% if participant == curr_expense.paid_by %}
                                <option value="{{ participant.id }}" selected="selected">{{ participant.first_name|title }} {{ participant.last_name|title }}</option>
                                {% else %}
                                <option value="{{ participant.id }}">{{ participant.first_name|title }} {{ participant.last_name|title }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="notes">Notes</label>
                            <textarea name="notes" id="notes" rows="10" class="form-control expense-notes" placeholder="Enter your notes here..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Add Expense</button>
                        <button type="submit" name="cancel" class="btn btn-outline-danger">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>