<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trippr: Trip's Itinerary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand display-4" href="/dashboard">Trippr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/trips/new" tabindex="-1" aria-disabled="true">Start a New Trip</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/dashboard/trips" tabindex="-1" aria-disabled="true">Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/friends" tabindex="-1" aria-disabled="true">Friends</a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0" method="POST" action="/logout" >
            <p class="greet">Welcome, Dennis!</p>
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Log Out</button>
        </form>
    </nav>
    <div class="container">
        <a href=""><< Back to Trip</a>
        <div class="row">
            <div class="col-12">
                <h4 class="display-4">{{ curr_trip.city }}, {{ curr_trip.country }}</h4>
                <p>{{ curr_trip.start_date|date:'Y-m-d' }} - {{ curr_trip.start_date|date:'Y-m-d' }}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <h5>Itinerary</h5>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Activity</th>
                            <th>Address</th>
                            <th>Notes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for activity in curr_trip.trip_activities.all|dictsort:"date" %}
                        <tr>
                            <td>{{ activity.date }}</td>
                            <td>{{ activity.start_time }} - {{ activity.end_time }}</td>
                            <td>{{ activity.activity }}</td>
                            <td>{{ activity.address }}</td>
                            <td>{{ activity.notes }}</td>
                            <td><a href="/dashboard/trips/{{ curr_trip.id }}/itinerary/{{ activity.id }}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <div class="row">
                    <h5>Edit Activity #{{ curr_activity.id }}</h5>
                    <form action="/dashboard/trips/{{ curr_trip.id }}/itinerary/{{ curr_activity_id }}/remove" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mx-3 float-right delete">Delete</button>
                    </form>
                </div>
                <form action="/dashboard/trips/{{ curr_trip.id }}/itinerary/{{ curr_activity_id }}" method="POST">
                    {% csrf_token %}
                    {% if messages %}
                        <div class="messages">    
                            {% for message in messages %}  
                                <div class="alert alert-danger">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                    </svg>
                                    {{ message }}
                                </div>  
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" name="date" id="date" value="{{ curr_activity.date|date:'Y-m-d' }}">
                    </div>
                    <div class="form-group form-inline">
                        <div class="col-6">
                            <label for="start_time">Start Time</label>
                            <input type="time" class="form-control" name="start_time" id="start_time" value="{{ curr_activity.start_time|time: 'H:i' }}">
                        </div>
                        <div class="col-6">
                            <label for="end_time">End Time</label>
                            <input type="time" class="form-control" name="end_time" id="end_time" value="{{ curr_activity.end_time|time: 'H:i' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="activity">Activity</label>
                        <input type="text" class="form-control" name="activity" id="activity" value="{{ curr_activity.activity }}">
                    </div>
                    <div class="form-group">
                        <label for="address">Address (if applicable)</label>
                        <input type="text" class="form-control" name="address" id="address" value="{{ curr_activity.address }}">
                    </div>
                    <div class="form-group">
                        <label for="notes">Notes</label>
                        <textarea name="notes" id="notes" rows="10" class="form-control" value="{{ curr_activity.notes }}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Add Activity</button>
                    <button type="submit" name="cancel" class="btn btn-outline-danger">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>