<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trippr: Trip's Expense Log</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand display-4" href="#">Trippr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Start a New Trip</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Friends</a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0" method="POST" action="/logout" >
            <p class="greet">Welcome, Dennis!</p>
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Log Out</button>
        </form>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <a href=""><< Back to Trip</a>
                <h4 class="display-4">{{ curr_trip.city }}, {{ curr_trip.country }}</h4>
                <p>{{ curr_trip.start_date|date:'Y-m-d' }}</p>
                <h5>Expense Log</h5>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Amount</th>
                            <th>Paid By</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <h5>Add an Expense</h5>
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="number" class="form-control" name="amount" id="amount">
                        </div>
                        <div class="form-group">
                            <label for="paid_by">Paid By</label>
                            <select id="paid_by" name="paid_by" size="1" class="form-control">
                                <option value="{{ user.id }}">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="fiat">Fiat</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="notes">Notes</label>
                            <textarea name="notes" id="notes" rows="10" class="form-control expense-notes" placeholder="Enter your notes here..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Add Expense</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>