<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trippr: Friends List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand display-4" href="/dashboard">Trippr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/trips/new" tabindex="-1" aria-disabled="true">Start a New Trip</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/trips" tabindex="-1" aria-disabled="true">Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/dashboard/friends" tabindex="-1" aria-disabled="true">Friends</a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0" method="POST" action="/logout">
            {% csrf_token %}
            <p class="greet">Welcome, {{ curr_user.first_name|title }}!</p>
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Log Out</button>
        </form>
    </nav>
    <div class="container">
        <h4 class="display-4">Friends List</h4>
        <hr>
        <div class="row">
            {% for friend in curr_user.friends.all %}
            <div class="col-2 friend">
                {% if not friend.prof_pic %}
                <img src="../../login_register_app/static/img/profile-placeholder.png" alt="Profile Picture" class="prof-pic">
                {% else %}
                <img src="{{ friend.prof_pic.url }}" alt="Profile Picture" class="prof-pic">
                {% endif %}
                <p>{{ friend.first_name|title }} {{ friend.last_name|title }}</p>
                <form action="/dashboards/friends/{{ friend.id }}" method="POST">
                    <button class="btn btn-outline-danger" type="submit">Delete</button>
                </form>
            </div>
            {% endfor %}
        </div>
        <h4 class="display-4">Add Friend</h4>
        <hr>
        <div class="row">
            {% for user in all_users %}
            {% if user not in curr_user.friends.all and user != curr_user %}
            <div class="col-2 friend">
                {% if not user.prof_pic %}
                <img src="../../login_register_app/static/img/profile-placeholder.png" alt="Profile Picture" class="prof-pic">
                {% else %}
                <img src="{{ user.prof_pic.url }}" alt="Profile Picture" class="prof-pic">
                {% endif %}
                <p>{{ friend.first_name|title }} {{ friend.last_name|title }}</p>
                <form action="/dashboards/friends/{{ user.id }}" method="POST">
                    <button class="btn btn-outline-success" type="submit">Add</button>
                </form>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>