h4, button {
    display: inline-block;
    text-align: center;
}

.alert {
    margin: 0;
}

.col-4:first-of-type {
    margin-right: 100px;
}

.col-4 {
    margin-top: 50px;
}

.navbar .navbar-brand {
    font-size: 1.6rem;
}